@charset "UTF-8";

@import 'import/lib-fonts';
@import 'base';
@import 'import/reset-css';
@import 'import/typography';

/* hidden */
.blind {
    position: absolute;
    // clip: rect(0 0 0 0);
    // clip-path: inset(50%);
    // width: 1px;
    // height: 1px;
    // margin: -1px;
    // overflow: hidden;
    // border: 0;
    // padding: 0;
    // white-space: nowrap;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* common */
html {
    &.is-locked {
        body {
            height: calc(var(--window-inner-height) - 1px);
            overflow: hidden;
            box-sizing: border-box;
        }
        #wrap {
            // position: fixed;
        }
    }
}
/* gnb */
.gnb {
    width: 480px;
    position: fixed;
    height: 72px;
    padding: 0 30px;
    left: 50%;
    top: 30px;
    transform: translate(-50%);
    z-index: 10;
    display: flex;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    transition: left 0.5s, top 0.5s, transform 0.5s, width 0.5s;
}
/* main */
main {
    height: calc(100vh - 40px);
    border: 10px solid #000;
    border-radius: 40px;
    overflow: auto;
    isolation: isolate;
    &::-webkit-scrollbar {
        display: none; /* 크롬, 사파리, 오페라, 엣지 */
    }
}
.main-section {
    .sub-section {
        .list {
            height: calc(var(--window-inner-height));
            overflow-y: auto;
            scroll-snap-type: y mandatory;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &.grid {
                display: grid;
                scroll-snap-type: none;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-auto-rows: min-content;
                gap: 10px;
                .pf-list-item {
                    + .pf-list-item {
                        margin-top: 0px;
                    }
                }
            }
            .pf-list-item {
                position: relative;
                height: 100%;
                scroll-snap-align: start;
                overflow: hidden;
                // + .pf-list-item {
                //     margin-top: 30px;
                // }
                .pf-list-inner {
                    height: 100%;
                    position: relative;
                    .pf {
                        &-img {
                            display: block;
                            height: 100%;
                            position: relative;
                            > img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                background: #000;
                                transition: transform 0.5s;
                            }
                            &::after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 74%;
                                background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%) 0% 0%
                                    no-repeat padding-box;
                                left: 0;
                                bottom: 0;
                                opacity: 0.4;
                                transition: opacity 0.5s;
                            }
                            &::before {
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background: rgba(0, 0, 0, 0.05);
                                left: 0;
                                bottom: 0;
                                z-index: 1;
                            }
                        }
                        &-info {
                            position: absolute;
                            bottom: 20px;
                            left: 20px;
                            pointer-events: none;
                            &-bottom {
                                .project {
                                    &-info {
                                        > span {
                                            font-size: 14px;
                                            font-weight: 500;
                                        }
                                    }
                                    &-name {
                                        font-size: 24px;
                                        font-weight: 600;
                                        margin-bottom: 15px;
                                        white-space: pre-wrap;
                                        line-height: 1.15;
                                        opacity: 0;
                                        transition: opacity 0.5s;
                                    }
                                    &-skill {
                                        opacity: 0;
                                        transition: opacity 0.5s;
                                        margin-bottom: 10px;
                                        > span {
                                            display: inline-block;
                                            padding: 0 5px;
                                            border: 1px solid #fff;
                                            font-size: 11px;
                                            line-height: 17px;
                                            border-radius: 9px;
                                            + span {
                                                margin-left: 4px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

/* sub page*/
.description {
    height: 100%;
}
.content {
    max-width: 900px;
    margin: 140px auto 80px;

    .work {
        display: flex;
        align-items: flex-end;
        > h2 {
            font-size: 46px;
        }

        > span {
            padding-left: 10px;
            font-size: 20px;
        }
    }
    .career {
        display: flex;
        justify-content: space-between;
        > p {
            font-size: 22px;
        }
    }
    .business {
        margin: 25px 0 0 20px;
        font-size: 20px;
        padding-left: 18px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            top: 50%;
            transform: translateY(-50%);
            background-color: #fff;
            left: 0px;
        }
    }
    .list {
    
        div {    margin-top: 30px;
            + {
                padding-top: 30px;
                border-top: 1px solid #444;
            }
        }
    }
    .title-wrap {
        margin: 25px 0 0 40px;
        .title-bar {
            display: flex;
            justify-content: space-between;
            font-size: 18px;
            .title {
                position: relative;
                padding-left: 18px;
                &::after {
                    content: '';
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    border-radius: 100%;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: transparent;
                    border: 1px solid #fff;
                    left: 0px;
                }
            }
            .date {
                color: #ccc;
            }
        }
        .desc {
            font-size: 16px;
            margin: 15px 0 0 20px;
            color: #ccc;
            > p {
                + p {
                    margin-top: 8px;
                }
            }
        }
        // &:last-child {
        //     padding-bottom: 30px;
        // }
    }
}
/* hover */
.main-section {
    .sub-section {
        .list {
            .pf-list-item {
                &:hover {
                    .pf-list-inner {
                        .pf {
                            &-img {
                                > img {
                                    transform: scale(1.07);
                                }
                            }
                            &-info {
                                &-bottom {
                                    .project {
                                        &-name {
                                            opacity: 1;
                                        }
                                        &-skill {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* select */
.row-sel {
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: space-between;
    .name {
        font-size: 30px;
        font-weight: 700;
        margin-right: 20px;
        color: #000;
    }
    > div {
        + div {
            margin-left: 20px;
        }
    }
}
.custom-sel {
    @include inline-block-box;
    width: 150px;
    position: relative;
    > button {
        @include inline-block-box;
        width: 100%;
        height: 46px;
        line-height: 34px;
        border-radius: 22px;
        color: #000;
        padding: 0 36px 0 12px;
        background: #fff url('/public/assets/images/arrow-down.png') right 12px center no-repeat;
        background-size: 12px 7px;
        text-align: left;
        font-weight: 600;
        @include ellipsis;
        > span {
            position: relative;
            .count {
                position: absolute;
                font-size: 10px;
                color: #ff0000;
                padding-left: 1px;
                bottom: -3px;
            }
        }
    }
    .list {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-top: 0;
    }
    &.open {
        > button {
            border-radius: 22px 22px 0px 0px;
            background-image: url('/public/assets/images/arrow-up.png');
        }
        .list {
            animation: dropdown 0.3s ease;
            display: block;
            border-radius: 0 0 22px 22px;
            > li {
                height: 100%;
                font-size: 14px;
                color: #000;
                font-weight: 600;
                cursor: pointer;
                > button {
                    padding: 17px 12px;
                    position: relative;
                    width: 100%;
                    font-weight: 600;
                    text-align: left;
                    > .count {
                        font-size: 11px;
                        color: #ff0000;
                        padding-left: 1px;
                        margin-bottom: 10px;
                        position: absolute;
                        top: 12px;
                    }
                    > span {
                        color: #000;
                    }
                }
                > a {
                    padding: 14px 12px;
                    display: inline-block;
                    width: 100%;
                }
                &.selected {
                    color: #000;
                    background-color: #f8f8f8;
                }
            }
        }
    }
    // + .custom-sel {
    //     margin-left: 20px;
    // }
}

#footer {
    display: flex;
    justify-content: space-between;
    padding: 6px 10px;
    ul {
        display: flex;
        > li {
            .download {
                background: url('/public/assets/images/ico-download.png') left center no-repeat;
                background-size: 15px 15px;
                padding-left: 20px;
            }
            .link {
                background: url('/public/assets/images/ico-link.png') left center no-repeat;
                background-size: 15px 15px;
                padding-left: 20px;
            }
            + li {
                position: relative;
                padding-left: 25px;
                margin-left: 25px;
                &::after {
                    content: '';
                    position: absolute;
                    width: 1px;
                    height: 14px;
                    background: #707070;
                    left: 0;
                }
            }
        }
    }
}

/* media query */
@media (max-width: 1600px) {
    .main-section {
        .sub-section {
            .list {
                &.grid {
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .main-section {
        .sub-section {
            .list {
                &.grid {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}
@media (max-width: 720px) {
    .gnb {
        height: rem(62px);
        padding: rem(0 20px);

        .row-sel {
            .name {
                font-size: rem(24px);
                margin-right: rem(10px);
            }
            > div {
                + div {
                    margin-left: rem(5px);
                }

                &:first-of-type {
                    > div {
                        width: rem(84px) !important;
                        > button {
                            width: rem(84px) !important;
                        }
                    }
                }
                &:last-of-type {
                    > div {
                        width: rem(120px);
                    }
                }
            }
        }
        &.minimized {
            width: rem(105px) !important;

            .custom-sel {
                &:first-of-type {
                    opacity: 0;
                    visibility: hidden;
                }
                &:last-of-type {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }
    }

    .custom-sel {
        > button {
            font-size: rem(12px);
            background-size: rem(10px 5px);
            height: rem(38px);
            padding: rem(0 0 0 10px);
        }
        &.open {
            .list {
                > li {
                    font-size: rem(12px);
                    > button {
                        > .count {
                            font-size: rem(10px);
                        }
                    }
                }
            }
        }
        // + .custom-sel {
        //     margin-left: rem(5px);
        // }
    }

    main {
        height: calc(var(--window-inner-height));
        border-radius: rem(20px);
        border-left-width: 0;
        border-right-width: 0;
    }

    .main-section .sub-section .list {
        > div {
            height: 100%;
            + div {
                padding-top: rem(10px);
            }
        }
        // height: calc(var(--window-inner-height));
        .pf-list-item {
            .pf-list-inner {
                .pf {
                    &-img {
                        &::after {
                        }
                        &::before {
                        }
                    }
                    &-info {
                        bottom: rem(60px);
                        &-bottom {
                            display: flex;
                            flex-direction: column;
                            .project {
                                &-name {
                                    opacity: 1;
                                    order: 1;
                                    font-size: rem(36px);
                                    word-break: keep-all;
                                }
                                &-skill {
                                    opacity: 1;
                                    order: 3;
                                    margin-bottom: 0px;
                                }
                                &-info {
                                    margin-bottom: rem(10px);
                                    order: 2;
                                    > span {
                                        font-size: rem(16px);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #footer {
        display: none;
    }

    .content {
        margin: rem(105px auto 30px);
        padding: rem(0 13px);
        .work {
            > h2 {
                font-size: rem(26px);
            }
            > span {
                padding-left: rem(5px);
                font-size: rem(16px);
            }
        }
        .career {
            > p {
                font-size: rem(20px);
            }
        }
        .business {
            margin: rem(12px 0 0 0);
            font-size: rem(18px);
        }
        .title-wrap {
            margin: rem(12px 0 0 0px);
            .title-bar {
                font-size: rem(14px);
                .title {
                    line-height: 1.3;
                    width: 65%;
                    word-break: keep-all;
                    padding-left: rem(16px);
                    &::after {
                        top: rem(9px);
                        width: rem(6px);
                        height: rem(6px);
                    }
                }
                .date {
                    display: flex;

                    width: 35%;
                    justify-content: space-between;
                }
            }
            .desc {
                font-size: rem(14px);
                margin: rem(8px 0 0 0px);
            }
        }
        .list {
            margin-top: rem(25px);
            + .list {
                padding-top: rem(25px);
            }
        }
    }
}
// @media (min-width: 720px) {
//     .gnb {
//         width: auto !important;
//     }
// }
@keyframes dropdown {
    0% {
        transform: translateY(-8%);
    }
    100% {
        transform: translateY(0);
    }
}
