@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  font-style: normal;
  src: url("/src/assets/fonts/Pretendard-Thin.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  font-style: normal;
  src: url("/src/assets/fonts/Pretendard-ExtraLight.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  font-style: normal;
  src: url("/src/assets/fonts/Pretendard-Light.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-style: normal;
  src: url("/src/assets/fonts/Pretendard-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-style: normal;
  src: url("/src/assets/fonts/Pretendard-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-style: normal;
  src: url("/src/assets/fonts/Pretendard-SemiBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-style: normal;
  src: url("/src/assets/fonts/Pretendard-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  font-style: normal;
  src: url("/src/assets/fonts/Pretendard-ExtraBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  font-style: normal;
  src: url("/src/assets/fonts/Pretendard-Black.woff2") format("woff2");
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #fff;
  position: relative;
  background-color: #000;
  line-height: 1;
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  appearance: none;
  margin: 0;
}

[type=search] {
  -webkit-appearance: textfield;
  appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* reset */
html * {
  box-sizing: border-box;
  word-wrap: break-word;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
figure,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
form,
fieldset,
blockquote,
iframe {
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
}

article,
aside,
canvas,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

command,
datalist,
keygen,
mark,
meter,
progress,
rp,
rt,
ruby,
time,
wbr {
  display: inline;
}

img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  border: 0;
}

fieldset {
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

pre {
  white-space: pre-wrap;
}

legend,
caption {
  overflow: hidden;
  border: 0;
  position: relative;
  z-index: -1;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  clear: both;
}

a {
  color: inherit;
  cursor: pointer;
}
a:link {
  text-decoration: none;
}
a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
}

em,
i,
address,
cite {
  font-style: normal;
  font-weight: normal;
}

input,
textarea,
select,
button,
table {
  font-size: inherit;
  font-family: inherit;
  border: 0;
  background-color: transparent;
}

button,
select {
  cursor: pointer;
}

textarea,
input,
select {
  border-radius: 0;
  border: 0;
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: medium;
}

textarea {
  resize: none;
  appearance: none;
}

label {
  cursor: pointer;
  -webkit-touch-callout: none;
  user-select: none;
}
label img {
  pointer-events: none;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  border-collapse: collapse;
}

select::-ms-expand {
  display: none;
}

html {
  font-size: 10px;
}
html[lang=ko-KR], html[lang=ko] {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}
html[lang=ko-KR] body, html[lang=ko] body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}
html[lang=en], html *[lang=en] {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}
html[lang=en] body, html *[lang=en] body {
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
}

/* hidden */
.blind {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* common */
html.is-locked body {
  height: calc(var(--window-inner-height) - 1px);
  overflow: hidden;
  box-sizing: border-box;
}
/* gnb */
.gnb {
  width: 481.17px;
  position: fixed;
  height: 72px;
  padding: 0 30px;
  left: 50%;
  top: 30px;
  transform: translate(-50%);
  z-index: 10;
  display: flex;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  transition: left 0.5s, top 0.5s, transform 0.5s, width 0.5s;
}

/* main */
main {
  height: calc(100vh - 40px);
  border: 10px solid #000;
  border-radius: 40px;
  overflow: auto;
  isolation: isolate;
}
main::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}

.main-section .sub-section .list {
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}
.main-section .sub-section .list.grid {
  display: grid;
  scroll-snap-type: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  gap: 10px;
}
.main-section .sub-section .list.grid .pf-list-item + .pf-list-item {
  margin-top: 0px;
}
.main-section .sub-section .list .pf-list-item {
  position: relative;
  height: 100%;
  scroll-snap-align: start;
  overflow: hidden;
}
.main-section .sub-section .list .pf-list-item .pf-list-inner {
  height: 100%;
  position: relative;
}
.main-section .sub-section .list .pf-list-item .pf-list-inner .pf-img {
  display: block;
  height: 100%;
  position: relative;
}
.main-section .sub-section .list .pf-list-item .pf-list-inner .pf-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: #000;
  transition: transform 0.5s;
}
.main-section .sub-section .list .pf-list-item .pf-list-inner .pf-img::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 74%;
  background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%) 0% 0% no-repeat padding-box;
  left: 0;
  bottom: 0;
  opacity: 0.4;
  transition: opacity 0.5s;
}
.main-section .sub-section .list .pf-list-item .pf-list-inner .pf-img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  left: 0;
  bottom: 0;
  z-index: 1;
}
.main-section .sub-section .list .pf-list-item .pf-list-inner .pf-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  pointer-events: none;
}
.main-section .sub-section .list .pf-list-item .pf-list-inner .pf-info-bottom .project-info > span {
  font-size: 14px;
  font-weight: 500;
}
.main-section .sub-section .list .pf-list-item .pf-list-inner .pf-info-bottom .project-name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  white-space: pre-wrap;
  line-height: 1.15;
  opacity: 0;
  transition: opacity 0.5s;
}
.main-section .sub-section .list .pf-list-item .pf-list-inner .pf-info-bottom .project-skill {
  opacity: 0;
  transition: opacity 0.5s;
  margin-bottom: 10px;
}
.main-section .sub-section .list .pf-list-item .pf-list-inner .pf-info-bottom .project-skill > span {
  display: inline-block;
  padding: 0 5px;
  border: 1px solid #fff;
  font-size: 11px;
  line-height: 17px;
  border-radius: 9px;
}
.main-section .sub-section .list .pf-list-item .pf-list-inner .pf-info-bottom .project-skill > span + span {
  margin-left: 4px;
}

/* sub page*/
.description {
  height: 100%;
}

.content {
  max-width: 900px;
  margin: 140px auto 80px;
}
.content .work {
  display: flex;
  align-items: flex-end;
}
.content .work > h2 {
  font-size: 46px;
}
.content .work > span {
  padding-left: 10px;
  font-size: 20px;
}
.content .career {
  display: flex;
  justify-content: space-between;
}
.content .career > p {
  font-size: 22px;
}
.content .business {
  margin: 25px 0 0 20px;
  font-size: 20px;
  padding-left: 18px;
  position: relative;
}
.content .business::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  left: 0px;
}
.content .list {
  margin-top: 30px;
}
.content .list + .list {
  padding-top: 30px;
  border-top: 1px solid #444;
}
.content .title-wrap {
  margin: 25px 0 0 40px;
}
.content .title-wrap .title-bar {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.content .title-wrap .title-bar .title {
  position: relative;
  padding-left: 18px;
}
.content .title-wrap .title-bar .title::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: 1px solid #fff;
  left: 0px;
}
.content .title-wrap .title-bar .date {
  color: #ccc;
}
.content .title-wrap .desc {
  font-size: 16px;
  margin: 15px 0 0 20px;
  color: #ccc;
}
.content .title-wrap .desc > p + p {
  margin-top: 8px;
}

/* hover */
.main-section .sub-section .list .pf-list-item:hover .pf-list-inner .pf-img > img {
  transform: scale(1.07);
}
.main-section .sub-section .list .pf-list-item:hover .pf-list-inner .pf-info-bottom .project-name {
  opacity: 1;
}
.main-section .sub-section .list .pf-list-item:hover .pf-list-inner .pf-info-bottom .project-skill {
  opacity: 1;
}

/* select */
.row-sel {
  width: 100%;
  display: flex;
  align-items: center;
}
.row-sel .name {
  font-size: 30px;
  font-weight: 700;
  margin-right: 20px;
  color: #000;
}
.row-sel > div + div {
  margin-left: 20px;
}

.custom-sel {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  position: relative;
}
.custom-sel > button {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: 46px;
  line-height: 34px;
  border-radius: 22px;
  color: #000;
  padding: 0 36px 0 12px;
  background: #fff url("/public/images/arrow-down.png") right 12px center no-repeat;
  background-size: 12px 7px;
  text-align: left;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.custom-sel > button > span {
  position: relative;
}
.custom-sel > button > span .count {
  position: absolute;
  font-size: 10px;
  color: #ff0000;
  padding-left: 1px;
  bottom: -3px;
}
.custom-sel .list {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-top: 0;
}
.custom-sel.open > button {
  border-radius: 22px 22px 0px 0px;
  background-image: url("/public/images/arrow-up.png");
}
.custom-sel.open .list {
  animation: dropdown 0.3s ease;
  display: block;
  border-radius: 0 0 22px 22px;
}
.custom-sel.open .list > li {
  height: 100%;
  font-size: 14px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
.custom-sel.open .list > li > button {
  padding: 17px 12px;
  position: relative;
  width: 100%;
  font-weight: 600;
  text-align: left;
}
.custom-sel.open .list > li > button > .count {
  font-size: 11px;
  color: #ff0000;
  padding-left: 1px;
  margin-bottom: 10px;
  position: absolute;
  top: 12px;
}
.custom-sel.open .list > li > button > span {
  color: #000;
}
.custom-sel.open .list > li > a {
  padding: 14px 12px;
  display: inline-block;
  width: 100%;
}
.custom-sel.open .list > li.selected {
  color: #000;
  background-color: #f8f8f8;
}

#footer {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
#footer ul {
  display: flex;
}
#footer ul > li .download {
  background: url("/public/images/ico-download.png") left center no-repeat;
  background-size: 15px 15px;
  padding-left: 20px;
}
#footer ul > li .link {
  background: url("/public/images/ico-link.png") left center no-repeat;
  background-size: 15px 15px;
  padding-left: 20px;
}
#footer ul > li + li {
  position: relative;
  padding-left: 25px;
  margin-left: 25px;
}
#footer ul > li + li::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 14px;
  background: #707070;
  left: 0;
}

/* media query */
@media (max-width: 1600px) {
  .main-section .sub-section .list.grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1024px) {
  .main-section .sub-section .list.grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 720px) {
  .gnb {
    height: 6.2rem;
    padding: 0 2rem;
    width: 32rem;
  }
  .gnb .row-sel .name {
    font-size: 2.4rem;
    margin-right: 1rem;
  }
  .gnb .row-sel > div + div {
    margin-left: 0.5rem;
  }
  .gnb .row-sel > div:first-of-type > div {
    width: 8.4rem !important;
  }
  .gnb .row-sel > div:first-of-type > div > button {
    width: 8.4rem !important;
  }
  .gnb .row-sel > div:last-of-type > div {
    width: 12rem;
  }
  .gnb.minimized {
    width: 10.5rem !important;
  }
  .gnb.minimized .custom-sel:first-of-type {
    opacity: 0;
    visibility: hidden;
  }
  .gnb.minimized .custom-sel:last-of-type {
    opacity: 0;
    visibility: hidden;
  }
  .custom-sel > button {
    font-size: 1.2rem;
    background-size: 1rem 0.5rem;
    height: 3.8rem;
    padding: 0 0 0 1rem;
  }
  .custom-sel.open .list > li {
    font-size: 1.2rem;
  }
  .custom-sel.open .list > li > button > .count {
    font-size: 1rem;
  }
  main {
    height: calc(var(--window-inner-height));
    border-radius: 2rem;
    border-left-width: 0;
    border-right-width: 0;
  }
  .main-section .sub-section .list {
    height: calc(var(--window-inner-height));
  }
  .main-section .sub-section .list > div {
    height: 100%;
  }
  .main-section .sub-section .list > div + div {
    padding-top: 1rem;
  }
  .main-section .sub-section .list .pf-list-item .pf-list-inner .pf-info {
    bottom: 6rem;
  }
  .main-section .sub-section .list .pf-list-item .pf-list-inner .pf-info-bottom {
    display: flex;
    flex-direction: column;
  }
  .main-section .sub-section .list .pf-list-item .pf-list-inner .pf-info-bottom .project-name {
    opacity: 1;
    order: 1;
    font-size: 3.6rem;
    word-break: keep-all;
  }
  .main-section .sub-section .list .pf-list-item .pf-list-inner .pf-info-bottom .project-skill {
    opacity: 1;
    order: 3;
    margin-bottom: 0px;
  }
  .main-section .sub-section .list .pf-list-item .pf-list-inner .pf-info-bottom .project-info {
    margin-bottom: 1rem;
    order: 2;
  }
  .main-section .sub-section .list .pf-list-item .pf-list-inner .pf-info-bottom .project-info > span {
    font-size: 1.6rem;
  }
  #footer {
    display: none;
  }
  .content {
    margin: 10.5rem auto 3rem;
    padding: 0 1.3rem;
  }
  .content .work > h2 {
    font-size: 2.6rem;
  }
  .content .work > span {
    padding-left: 0.5rem;
    font-size: 1.6rem;
  }
  .content .career > p {
    font-size: 2rem;
  }
  .content .business {
    margin: 1.2rem 0 0 0;
    font-size: 1.8rem;
  }
  .content .title-wrap {
    margin: 1.2rem 0 0 0rem;
  }
  .content .title-wrap .title-bar {
    font-size: 1.4rem;
  }
  .content .title-wrap .title-bar .title {
    line-height: 1.3;
    width: 65%;
    word-break: keep-all;
    padding-left: 1.6rem;
  }
  .content .title-wrap .title-bar .title::after {
    top: 0.9rem;
    width: 0.6rem;
    height: 0.6rem;
  }
  .content .title-wrap .title-bar .date {
    display: flex;
    width: 35%;
    justify-content: space-between;
  }
  .content .title-wrap .desc {
    font-size: 1.4rem;
    margin: 0.8rem 0 0 0rem;
  }
  .content .list {
    margin-top: 2.5rem;
  }
  .content .list + .list {
    padding-top: 2.5rem;
  }
}
@keyframes dropdown {
  0% {
    transform: translateY(-8%);
  }
  100% {
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */