@charset "UTF-8";

@import "import/lib-fonts";
@import "base";
@import "import/reset-css";
@import "import/typography";

/* hidden */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    white-space: nowrap;
}

/* common */
html {
    &.is-locked {
        body {
            height: calc(var(--window-inner-height) - 1px);
            overflow: hidden;
            box-sizing: border-box;
        }
        #wrap {
            // position: fixed;
        }
    }
}

/* main */
main {
    height: calc(100vh - 40px);
    border: 10px solid #000;
    border-radius: 30px;
    overflow: auto;
    isolation: isolate;
    &::-webkit-scrollbar {
        display: none; /* 크롬, 사파리, 오페라, 엣지 */
    }
}

.main-section {
    .sub-section {
        .portfolio-list {
            &.grid {
                display: grid;
                // overflow-y: auto;
                scroll-snap-type: none;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                grid-auto-rows: min-content;
                gap: 10px;
            }
            .pf-list-item {
                position: relative;
                height: 100%;
                scroll-snap-align: start;
                border-radius: 30px;
                overflow: hidden;
                .pf-list-inner {
                    height: 100%;
                    position: relative;
                    .pf {
                        &-img {
                            display: block;
                            height: 100%;
                            position: relative;
                            > img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                background: #000;
                                transition: transform 0.5s;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 74%;
                                background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%) 0% 0% no-repeat padding-box;
                                left: 0;
                                bottom: 0;
                                opacity: 0.4;
                                transition: opacity 0.5s;
                            }
                            &::before {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background: rgba(0, 0, 0, 0.05);
                                left: 0;
                                bottom: 0;
                                z-index: 1;
                            }
                        }
                        &-info {
                            position: absolute;
                            bottom: 20px;
                            left: 20px;
                            pointer-events: none;
                            &-bottom {
                                .project {
                                    &-info {
                                        > span {
                                            font-size: 14px;
                                            font-weight: 500;
                                        }
                                    }
                                    &-name {
                                        font-size: 24px;
                                        font-weight: 600;
                                        margin-bottom: 15px;
                                        white-space: pre-wrap;
                                        line-height: 1.15;
                                        opacity: 0;
                                        transition: opacity 0.5s;
                                    }
                                    &-skill {
                                        opacity: 0;
                                        transition: opacity 0.5s;
                                        margin-bottom: 10px;
                                        > span {
                                            display: inline-block;
                                            padding: 0 5px;
                                            border: 1px solid #fff;
                                            font-size: 11px;
                                            line-height: 17px;
                                            border-radius: 9px;
                                            + span {
                                                margin-left: 4px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* hover */
.main-section {
    .sub-section {
        .portfolio-list {
            &.grid {
            }
            .pf-list-item {
                &:hover {
                    .pf-list-inner {
                        .pf {
                            &-img {
                                > img {
                                    transform: scale(1.07);
                                }
                            }
                            &-info {
                                &-bottom {
                                    .project {
                                        &-name {
                                            opacity: 1;
                                        }
                                        &-skill {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* media query */
@media (max-width: 1600px) {
    .main-section {
        .sub-section {
            .portfolio-list {
                &.grid {
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .main-section {
        .sub-section {
            .portfolio-list {
                &.grid {
                    grid-template-columns: 1fr 1fr;
                }
            }
        }
    }
}
